.metadata/*
Ue01-Braun-Keil/bin/ImageView.class
Ue01-Braun-Keil/bin/Ue01_Braun_Keil$1.class
Ue01-Braun-Keil/bin/Ue01_Braun_Keil$2.class
Ue01-Braun-Keil/bin/Ue01_Braun_Keil$3.class
Ue01-Braun-Keil/bin/Ue01_Braun_Keil$4.class
Ue01-Braun-Keil/bin/Ue01_Braun_Keil$5.class
Ue01-Braun-Keil/bin/Ue01_Braun_Keil.class
