.metadata/*
Ue02_Braun_Keil/bin/*
Ue01-Braun-Keil/bin/*
Ue02_Braun_Keil/.project
Ue03_Braun_Keil/.classpath
Ue03_Braun_Keil/.project
Ue03_Braun_Keil/.settings/org.eclipse.jdt.core.prefs
Ue03_Braun_Keil/bin/FilterFrame$1.class
Ue03_Braun_Keil/bin/FilterFrame$2.class
Ue03_Braun_Keil/bin/FilterFrame$3.class
Ue03_Braun_Keil/bin/FilterFrame$4.class
Ue03_Braun_Keil/bin/FilterFrame.class
Ue03_Braun_Keil/bin/ImageView$ImageScreen.class
Ue03_Braun_Keil/bin/ImageView.class
Ue01-Braun-Keil.zip
Ue03_Braun_Keil/bin/FilterFrame$5.class
Ue04-Braun-Keil/.classpath
Ue04-Braun-Keil/.project
Ue04-Braun-Keil/bin/Histo$1.class
Ue04-Braun-Keil/bin/Histo$2.class
Ue04-Braun-Keil/bin/Histo$3.class
Ue04-Braun-Keil/bin/Histo$4.class
Ue04-Braun-Keil/bin/Histo.class
Ue04-Braun-Keil/bin/ImageView$ImageScreen.class
Ue04-Braun-Keil/bin/ImageView.class
